{% extends "base.html" %}

{% block title %}
  Register
{% endblock %}

{% block content %}
<form method="POST" class="mx-auto mt-5" style="max-width: 500px;">
    {{ form.hidden_tag() }}
    <h1 class="text-center">Register</h1>

    <div class="form-group mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", placeholder="Username") }}
    </div>

    <div class="form-group mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control", placeholder="Password") }}
    </div>

    <div class="form-group mb-3">
        {{ form.first_name.label(class="form-label") }}
        {{ form.first_name(class="form-control", placeholder="First Name") }}
    </div>

    <div class="form-group mb-3">
        {{ form.last_name.label(class="form-label") }}
        {{ form.last_name(class="form-control", placeholder="Last Name") }}
    </div>

    <button type="submit" class="btn btn-primary w-100">Register</button>
</form>
{% endblock %}
